/*THIS CAN CHANGE WHENEVER. THOUGHT ID ADD BG COLOR TILL WE FIGURE OUT EVERYTHING. WHITE BGS HURT MY FAACE...:)  */
body{
    background-color: tomato;
    font-family: sans-serif;
}
/*This navbar will probably need to be changed */

.navbar {
    height: auto;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}
/*As will this*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: .5;
}

h1 {
  text-align: center;
}
#stage {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#charthead {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#legend {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#legend li {
  list-style: none;
}
#form {
  display: none;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#thanks {
  display: none;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#selectable {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#selectable li {
    margin: 3px;
    padding: 1px;
    display: inline-block;
    float: left;
    width: 15%;
    height: 80px;
    font-size: 1em;
    text-align: center;
    list-style: none;
    border:2px solid black;
    border-radius: 5px;
    color:whitesmoke;
}
#selectable .ui-selected {
  background: #CD7F32;
}
#selectable .ui-selecting {
  background: #CD7F32;
}

.available {
    background-color: black;
    border-radius: 7px;
    width: 50%;
    height: 100px;
    display: inline-block;
    color: white;
}
.available:hover {
    background-color: darkgray;
    border-radius: 7px;
    display: inline-block;
    color: white;
}

.vip {
  border: 2px solid #efcd53 !important;
}

.active {
  background-color: gold;
}
.active:hover {
    background-color: goldenrod;
    border-radius: 7px;
    display: inline-block;
}

.reserved {
    background-color: lightgray;
    border-radius: 7px;
    display: inline-block;
}

.reserved:hover {
    background-color: gray;
    border-radius: 7px;
    display: inline-block;
}
