/*THIS CAN CHANGE WHENEVER. THOUGHT ID ADD BG COLOR TILL WE FIGURE OUT EVERYTHING. WHITE BGS HURT MY FAACE...:)  */

body {
    background-color: black;
    font-family: 'Varela Round'; sans-serif;
    margin: 0;
}


/*This navbar will probably need to be changed */

header {
    background-color: goldenrod;
    width: 100%;
    height: 100px;
}

main {
    width: 90%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
}


/*
.navbar {
    height: auto;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
}
*/


/*As will this*/


/*
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: .5;
}
*/

h1 {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-family: 'Righteous', cursive;
}

h2 {
  text-align: center;
  margin: 0;
  font-family: 'Righteous', cursive;
}

.bios {
  text-align: center;
  margin: 0;
  padding: 40px;
  font-family: 'righteous', cursive;
}

h3 {
    text-align: center;
    margin: 0;

}

#stage {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#charthead {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#legend {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#legend li {
    list-style: none;
}

#form {
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#thanks {
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#selectable {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

section ul {
    padding: 0;
}

section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#seats {
  margin: 0 auto;

}

#selectable li {
    margin: 3px;
    padding: 1px;
    display: inline-block;
    float: left;
    width: 15%;
    height: 80px;
    padding: 2px;
    font-size: 1em;
    text-align: center;
    list-style: none;
    border: 2px solid black;
    border-radius: 5px;

    color: whitesmoke;
    position: relative;



    box-sizing: border-box;
    position: relative;
}

#selectable .ui-selected {
    background: #CD7F32;
}

#selectable .ui-selecting {
    background: #CD7F32;
}

#selectable .ui-selected:hover {
    background: #dca570;
}

#help {
    clear: both;
}

.available {
    background-color: black;
    border-radius: 7px;
    width: 50%;
    height: 100px;
    display: inline-block;
    color: white;
}

.available:hover {
    background-color: darkgray;
    border-radius: 7px;
    display: inline-block;
    color: white;
}

.vip {
    border: 2px solid #efcd53 !important;
}

.reserved {
    background-color: gray;
    border-radius: 7px;
    display: inline-block;
}

.reserved:hover {
    background-color: lightgray;
    border-radius: 7px;
    display: inline-block;
}

footer {
    background-color: goldenrod;
    width: 100%;
    height: 100px;
}

#poster {
    position: relative;
    margin: 0 auto;
}

#curtains {
    position: absolute;
    width: 70%;
    height: 82%;
    left: 15%;
    margin: 0% auto;
    border-radius: 5px;

    z-index: 100;
}

img {
    position: relative;
    width: 50%;
    height: 86%;
    min-height: 75%;
    margin: 0 auto;
}

#slides {
    position: relative;
    width: 59%;
    height: auto;
    display: none;
    left: 19%;
}
