.seat {
  color: black;
  position: relative;
  display: block;
  border: 1px solid black;
  width: 90%
}
.column {
	position: relative;
	display: inline-block;
}

section {
	width: 90%
	margin: 0 auto;
}

.available:hover {
	background-color: /* something here */
	border-radius:
}

}
